---
page_id : page-example
---
<!DOCTYPE html>
<html>
  <head>
  <style>
      .area {
        background-color : #DEF;
      }
      text {
        font-family: "Helvetica Neue", sans-serif;
        font-size: 14px;
        fill: black;
      }

      .font text
       {
        font-family: "Helvetica Neue", sans-serif;
        font-size: 28px;
        fill: black;
      }

      .example-usage {
        width: 350px;
        border: 2px solid navy;
        margin: 25px;
        text-align: center;
      } 
    </style>
    <script src="bower_components/d3/d3.js" charset="utf-8"></script>
    <script src="bower_components/jQuery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/build_site/css/style.css">
    <script src="svgtypewriter.js" data-cover></script>
    <script src="index.js"></script>
  </head>
<body>
  <h2>What is SVG Typewriter?</h2>
  <p>
    <b>SVG Typewriter</b> is a library for measuring, manipulating, and writing text on SVG.
    The <a href="http://www.w3.org/TR/SVG/text.html#Introduction">svg text spec</a> indicates that "SVG performs no automatic line breaking or word wrapping", meaning that developers
    normally need to write their own code to accomplish this; <b>SVG Typewriter</b> aims
    to make this entire process easier.
  </p>
  <h3> Examples </h3>
  <table class="example-usage" id="simple-measurer">
    <thead>
      <tr><td colspan="2" class="description">Simple text measurement</td></tr>
    </thead>
    <tbody>
      <tr><td> Result </td><td> Code </td></tr>
      <tr>
        <td>
          <svg class="area"></svg><br>
          <div class="result"></div>
        </td>
        <td>
          {% highlight javascript %}
          {% include examples/measuring.js %}
          {% endhighlight %}
        </td>
      </tr>
    </tbody>
  </table>
  <table class="example-usage font" id="font-measurer">
    <thead>
      <tr><td colspan="2" class="description">Text measurment with applied class</td></tr>
    </thead>
    <tbody>
      <tr><td> Result </td><td> Code </td></tr>
      <tr>
        <td>
          <svg class="area"></svg><br>
          <div class="result"></div>
        </td>
        <td>
          {% highlight javascript %}
          {% include examples/css-measuring.js %}
          {% endhighlight %}
        </td>
      </tr>
    </tbody>
  </table>
  <table class="example-usage" id="simple-wrapping">
    <thead>
      <tr><td colspan="2" class="description">Simple text wrapping</td></tr>
    </thead>
    <tbody>
      <tr><td> Result </td><td> Code </td></tr>
      <tr>
        <td>
          <svg class="area"></svg><br>
          <div class="result">
          <input id"small" class="width-option" type="button" value="25px">
          <input id"meddium" class="width-option" type="button" value="50px">
          <input id"large" class="width-option" type="button" value="75px">
        </div>
        </td>
        <td>
          {% highlight javascript %}
          {% include examples/wrapping.js %}
          {% endhighlight %}
        </td>
      </tr>
    </tbody>
  </table>
  <table class="example-usage font" id="simple-writing">
    <thead>
      <tr><td colspan="2" class="description">Writing</td></tr>
    </thead>
    <tbody>
      <tr><td> Result </td><td> Code </td></tr>
      <tr>
        <td>
          <svg class="area"></svg><br>
          <div class="result">
             <input class="re-run" type="button" value="Re-run animation">
          </div>
        </td>
        <td>
          {% highlight javascript %}
          {% include examples/write_options.js %}
          {% endhighlight %}
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
